@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
	height: 100%;
	margin: 0;
}

#logo {
	height: 19px;
	width: 112px;
}

#intro {
	background-image: url("../images/czech-mountains-2.jpg");
	filter: brightness(60%);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header-intro-1 {
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 54px;
	color: white !important;
	text-align: center;
	overflow-x: hidden;
	cursor: default;
}

#header-intro-2 {
	position: absolute;
	top: 68%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 54px;
	color: white;
	text-align: center;
	overflow-x: hidden;
	cursor: default;
}

#myName {
	font-size: 72px;
	color: white;
}

#aboutme, #skills, #portfolio {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	position: relative;
}

p, span {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

.bg-1 {
	background-color: #DEB887;
	color: #ffffff;
}

.bg-2 {
	background-color: #0074D9;
	color: #ffffff;
}

.bg-3 {
	background-color: #3D9970;
	color: #ffffff;
}

.bg-4 {
	background-color: #001f3f;
	color: #fff;
}

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.container-fluid .container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	letter-spacing: 5px;
	opacity: 0.7;
	font-size: medium;
}

.navbar-nav  li a:hover {
	color: #B5C1B4 !important;
}

#portfolio > div > div > div > figure > a > img {
	width: 95%;
	height: 95%;
	-webkit-transition: width 2s; /* Safari */
	transition: width 1s;
}

#portfolio > div > div > div > figure > a > img:hover {
	width: 100%;
	height: 100%;
}

@keyframes fromRight {
	0% {
		top: 40%;
		left: 100%;
	}
	100% {
		top: 40%;
		left: 30%;
	}
}

@keyframes fromLeft {
	0% {
		top: 30%;
		left: 0%;
	}
	100% {
		top: 30%;
		left: 30%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#header-intro-1 {
		font-size: 27px;
	}

	#header-intro-2 {
		font-size: 27px;
	}

	#myName {
		font-size: 36px;
	}
}

@media only screen and (orientation: landscape) and (max-device-width : 960px) {
	#header-intro-1 {
		font-size: 27px;
	}

	#header-intro-2 {
		font-size: 27px;
	}

	#myName {
		font-size: 36px;
	}
}